*{
    margin: 0;
    padding: 0;
}
  .container{
      width: 100%;
      overflow: hidden;
      margin: auto;
  }

  *{margin: 0;padding: 0}

/* navbar */

  ul {
      
padding-right: 15%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(115, 57, 23);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    color: rgb(238, 148, 97);
  }

/* .container{
    background-image: url(images/image2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
} */

.header {
  
    display: flex;
    width: 100%;
    height: 40%;
    position: relative;

 }
 .title{
     position: absolute;
     width: 50%;
    height: 100%; 
    margin-top: 200px;
    margin-left: 50%;
    
 }
 .title p{
    color: rgb(161, 110, 61);
    font-size: 25px;
 }
 span.titlelabel{
    color: rgb(132, 68, 11);
    text-align: left;
    display: block;
    font-size: 80px;
    font-weight: 900;
 }
 span.linetitlelabel{
     display: block;
     height: 2px;
     width: 130px;
     margin-bottom: 5px;
     background-color: rgb(218, 125, 13);
 }
 .content{
     display: flex;
     width: 100%;
     height: 40%;
 }
 .content img{
     width: 100%;
 }
.service{
    margin-top: -70px;
    background-image: url(images/grit.png);

    height: 400px;
     text-align: center;
    width:110%;
    transform:rotate(-4deg) translateX(-1%);
    padding: 30px 0 ;
    position: relative;
    display: block;
    overflow: hidden;
}
    
.service::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(198, 116, 32, 0.9);
    position: absolute;
    bottom: 0;
}



.section-content{
    position: relative;
    z-index: 1;
    transform:rotate(4deg);
    margin: auto;
    max-width: 1100px;
  
}
.shield2{
    left: -350px;
    margin-top: 80px;
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 185px;
    background-color: rgba(218, 131, 45, 0.5);

  }
.shield1{
    left: -250px;
    margin-top: 35px;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgba(198, 116, 32,0.8);
  }
  .shield4{
    right: -210px;
    margin-top: 210px;
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: rgba(198, 116, 32,0.5);
  }
.shield3{
    right: -155px;
    margin-top: 180px;
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background-color: rgba(218, 131, 45, 1);
  }

.card{
    display: block;
   padding: 30px;
    font-size: 20px;
    margin-top: 70px;
    box-sizing: border-box;
    height: 0;

}
span.label{
    text-align: right;
    color: white;
    display: block;
    font-size: 30px;
    font-weight: 500;
}
span.lineservice{
    width: 120px;
    display: block;
    height: 2px;
    background-color: azure;
    float: right;
}
span.lineservice2{
    width: 120px;
    display: block;
    height: 3px;
    background-color: azure;
    float: right;
    margin-top: 20px;
}
p{
    padding-top: 5px;
    z-index: 9999;
    color: white;
    text-align: left;

}
H4{
    background-color: white;
}

.info{
    margin-top: -60px;
    min-height: 1000px;
    background-image: radial-gradient(white 20%,rgb(248, 214, 156) 90%);
    width: 100%;
}
.coninfo{
    width: 80%;
    display: flex;

}
.inleft, .inright{
    padding-top: 200px;
    width: 50%;
    height: auto;
    text-align: center;
    justify-content: center;
    z-index: 1;
    box-sizing: border-box;
 
}
.inleft{
    margin-top: 300px;
    transform: translateY(150%);
    transition: all 1s;
  
}
.inright{
    transform: translateX(150%);
    transition: all 1s;
  
}
.slideinleft{
    transform: translateY(0);
}
.inright img{
    width: 100%;
  
}
.slideinright{
    transform: translateX(0);
}
span.labelinfo{
    
    color: rgb(39, 124, 57);
    text-align: right;
    display: block;
    font-size: 80px;
    font-weight: 900;
}
.text{
    width: 50%;
    float: right;
}
.text p{
    text-align: right;
    color: rgb(223, 90, 8);
}
h4 {
    color:   rgb(198, 116, 32);
    ;
}
.description{
    color: rgb(243, 216, 190);
    
}

  @media (min-width:600px){
    .header {
  
        display: flex;
        width: 100%;
        height: 30%;
    
     }
    .section-content{
        display: flex;
        justify-content: space-around;
        width: 70%;
        height: 80%;
    
    }
    .card{
        width: 35%;

    }
    span.label{
        text-align: right;
        color: white;
        display: block;
        font-size: 60px;
        font-weight: 900;
    }
    .cardleft{
        text-align: right;
    }

  }

 


  /* animasi */

  .animasi{
      animation: animasiDivService 2s ease;
  }

  @keyframes animasiDivService{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }

}


  /* @keyframes animasiDivService{
      0%{
          width: 200px;
      }
      50%{
          width: 500px;
          height: 200px;
      }
      100%{
        width: 500px;
        height: 500px;
    }
  }
   */